.editor {
	width: 100%;
	height: 600px;
	background-color: blue;
	color: white;
	font-size: 40px;
	padding: 10px;
}

.editor .key {
	color: yellow;
	text-decoration: underline;
	padding: 2px 4px;
	margin-right: 4px;
}
