@use './variables';
@import url(https://db.onlinewebfonts.com/c/23a02e8af5ef33a9b496dd524401550f?family=YS+Text+Regular+Regular);
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:focus {
		outline: none;
	}
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

html,
body {
	height: 100%;
}

body {
	background-color: variables.$black;
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 20px;

	text-decoration: none;
	text-transform: none;
	text-shadow: none;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: 'YS Text Regular Regular';
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	background-color: #e9f2ff;
}

img {
	max-width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

#root {
	height: 100%;
}
.dark-link {
	text-align: right;
	width: 100%;
	display: block;
	margin-bottom: 0.5rem;
	text-decoration: none;
	color: variables.$dark-accent;
	transition: color 0.3s ease;

	&:hover {
		color: darkest(variables.$accent, 10%);
	}
}

.wrapper-inner-page {
	padding: 40px 30px;
	text-align: center;
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.title-main {
	font-size: 36px;
	line-height: 130%;
	text-align: center;
	margin: 40px 0;
}

.input,
.input-add,
.input-area,
.input-key,
.input-answer {
	padding: 15px 10px;
	border-radius: 15px;
	border: 1px solid lightgray;
	margin-bottom: 10px;
	font-size: 16px;
}
.input-add {
	width: 50%;
}
.input-area {
	width: 50%;
	height: 200px;
}
.input-key {
	width: 60px;
}
.input-answer {
	width: 50%;
	margin: 0 10px;
}
.error-input {
	color: #db1d1c;
	font-size: 14px;
}

.red {
	color: #db1d1c;
}

.green {
	color: green;
}
.orange {
	color: rgb(247, 168, 21);
}

.link {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.644);
	padding: 10px 20px;
	border-radius: 10px;
	transition: 0.4s;
}

.link:hover {
	background-color: #292933f6;
	transition: 0.4s;
	color: rgba(255, 255, 255, 0.541);
}

.link.active {
	background-color: #292933f6;
	color: white;
}
.btn-success {
	background-color: rgba(0, 128, 0, 0.712);
	border: none;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 10px;
}
.btn-danger {
	background-color: #db1d1c;
	border: none;
	color: white;
	font-size: 16px;
	padding: 10px 5px;
	border-radius: 10px;
}

.exit {
	color: black;
	transition: 0.4s;
}
.exit:hover {
	color: #db1d1c;
	transition: 0.4s;
}
.datepicker {
	padding: 15px 10px;
	border-radius: 15px;
	border: 1px solid lightgray;
	margin-bottom: 10px;
	font-size: 16px;
}
